<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
</head>
<body>
    <header>
        <h3>Registro de Usuario</h3>
        <input type="text" name="nombre" placeholder="Nombre y Apellido"><br>
        <input type="text" name="usuario" placeholder="Nombre de usuari@"><br>
        <p>Fecha de nacimiento</p><br>
        <input type="date" name="fecha de naciminto" placeholder=""><br>
        <input type="text" name="domicilio" placeholder="Domicilio"><br>
        <p>Perfil de usuario</p><br>
        <input type="radio" name="" value="Vendedor"><br>
        <input type="radio" name="" value="Comprador"><br>
        <p>Categorias de interes</p><br>
        <input type="checkbox" name="preferencias" value="Electro"><br>
        <input type="checkbox" name="preferencias" value="Moda"><br>
        <input type="checkbox" name="preferencias" value="Hogar"><br>
        <input type="checkbox" name="preferencias" value="Jugueteria"><br>
        <input type="checkbox" name="preferencias" value="Vida sana"><br>
        <h2>falta foto aca</h2>
        <input type="password" name="contraseña" placeholder="Contraseña"><br>
        <input type="password" name="contraseña" placeholder="Repetir contraseña"><br>
        <input type="submit" name="" value="Enviar">
        <input type="submit" name="" value="Borrar">


        

    </header>
    
</body>
</html>